*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.main{
    background: rgb(192, 201, 255);
    height: 100vh;
    width:100%;
}

.main-header{
    background-color: aqua;
    padding: 30px;
}
.main-header > ul {
    display: flex;
    justify-content: space-between;
    width:50%;
    margin: 0 auto;

}
.main-header > ul > li {
    outline: none;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.content-parent{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content-parent h2 {
    font-size: 30px;
}

.content-parent button {
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 5px;
}
